@import 'reset.css';

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

:root{
    --bg: hsla(207, 75%, 44%, 1);
    --primary: hsla(199, 69%, 54%, 1);
    --secondary: hsla(191, 66%, 55%, 1);
    --details: hsla(29, 89%, 58%, 1);
    --cta: hsla(1, 67%, 51%, 1);

    --text: rgba(255,255,255,0.4);
    --grid-size: 5px;
    --grid-color:hsla(191, 66%, 55%, 1);

    --slider-color: var(--primary);
}

body{
    background-color: var(--bg);
}

.container{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.board{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);

    background-color: var(--primary);
    padding: 0.8rem;
    border-radius: 5px;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 6rem;
    color: var(--text);
    font-family: 'Space Mono', monospace;
}

.square:nth-child(2), .square:nth-child(8){
    border-left: var(--grid-size) solid var(--grid-color);
    border-right: var(--grid-size) solid var(--grid-color);
}

.square:nth-child(4), .square:nth-child(6){
    border-top: var(--grid-size) solid var(--grid-color);
    border-bottom: var(--grid-size) solid var(--grid-color);
}

.square:nth-child(5){
    border: var(--grid-size) solid var(--grid-color);
}

            /*STRIKES*/

.strike{
    display: none;
    position: absolute;
    border: 3px solid var(--details);
}

.horizontal{
    transform: rotate(90deg);

    height: 300px;

    left: calc(150px + 12.8px);
}

.column{
    transform: rotate(0);

    height: 300px;

    top: 12.8px;
}

.diagonal{
    height: calc(300px * 1.414);

    top: -49.6px;
    left: calc(150px + 12.8px);
}

/*Row  strike*/
.pos1{
    top: calc(12.8px - 100px);
}

.pos2{
    top: calc(12.8px);
}

.pos3{
    top: calc(12.8px + 100px);
}

/*Column strike*/
.pos4{
    left: calc(50px + 12.8px);
}

.pos5{
    left: calc(150px + 12.8px);
}

.pos6{
    left: calc(150px + 12.8px + 100px);
}

/*Diagonal strike*/
.pos7{
    transform: rotate(-45deg);
}

.pos8{
    transform: rotate(45deg);
}

/*POPUP*/
.popup{
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /*translate is relative to the element*/
    z-index: 1;
    width: 360px;
    height: 100px;

    border-radius: 5px;

    background-color: var(--details);
    color: var(--cta);
}

.popup > button{
    padding: 5px;
}

.popup-text{
    background-color: white;
    font-size: 2rem;
}

.setup{
    height: 100px;
    width: 360px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.slider{
    position: relative;
    outline: none;
    height: 2rem;
    width: 3rem;

    border-radius: 15px;
    border: none;
    background-color: white;

    transition: 0.5s all ease-out;
}

.slider::before{
    content: 'O';
    color: white;
    position: absolute;
    top: calc(1rem - 1.5rem / 2);
    left: 2px;
    display: inline-block;
    background-color: var(--slider-color);
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-x{
    position: relative;
    outline: none;
    height: 2rem;
    width: 3rem;

    border-radius: 15px;
    border: none;
    background-color: white;
}

.slider-x::before{
    content: 'X';
    color: white;
    position: absolute;
    top: calc(1rem - 1.5rem / 2);
    right: 2px;
    display: inline-block;
    background-color: var(--slider-color);
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}